<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <div class="buy">
            <p>Dear Customer,</p><br>
            <p>Your Product will be delivered after two days</p>
            <script>
                var d = ((new Date().getDate())%30)+2;
                document.write(d);
            </script>
            <p>Thanks For visiting us!</p>
            <input type='button' value='GO HOME' (click)='goHome()'/>
        </div>
</body>
</html>